body{

margin:0;

font-family:
Microsoft YaHei,
Arial;

background:#f4f8fb;

color:#334155;

text-align:center;

}



.logo{

width:180px;

margin-top:40px;

}



h1{

color:#008ed6;

font-size:38px;

}



header p{

font-size:18px;

}



.buttons{

margin:30px;

}



.btn{

display:inline-block;

background:#008ed6;

color:white;

padding:14px 35px;

border-radius:30px;

text-decoration:none;

margin:10px;

}



.green{

background:#00a6a6;

}



.card{

background:white;

max-width:750px;

margin:30px auto;

padding:35px;

border-radius:20px;

box-shadow:0 5px 20px #ddd;

}



.service p{

display:inline-block;

margin:15px;

}



footer{

padding:30px;

color:#888;

}